<h1>Hello, Rails!</h1>

<%= link_to 'My Blog', posts_path, class: "btn btn-primary" %>

<%= markdown("
Something should be recorded.

**Update History:**

20150122
  * Add Markdown markup language support for writing post

20150121
  * Optimize front end page with Twitter Bootstrap toolkit

20150116
  * Add login and anthentication functions with Devise gem

20150115
  * Create blog boneframe with scaffold script and add comment function to post

20150114
  * Create blog rails app and add display 'Hello Rails' on welcome/index

")%>
